In [9]:
# Create a series by passing a list of values
import pandas as pd
a = pd.Series([1,3,4,5,6,7])
print(a)

0    1
1    3
2    4
3    5
4    6
5    7
dtype: int64

In [11]:
#missing values then it can be nan of numpy
import numpy as np
a1=pd.Series([1,2,3,4,np.nan,6])
print(a1)

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    6.0
dtype: float64

In [8]:
#create a list of data with in particular range 
dates=pd.date_range('20190601',periods=20)
print(dates)

DatetimeIndex(['2019-06-01', '2019-06-02', '2019-06-03', '2019-06-04',
               '2019-06-05', '2019-06-06', '2019-06-07', '2019-06-08',
               '2019-06-09', '2019-06-10', '2019-06-11', '2019-06-12',
               '2019-06-13', '2019-06-14', '2019-06-15', '2019-06-16',
               '2019-06-17', '2019-06-18', '2019-06-19', '2019-06-20'],
              dtype='datetime64[ns]', freq='D')

In [12]:
lst=pd.date_range('20190601',periods=5)
print(lst)

DatetimeIndex(['2019-06-01', '2019-06-02', '2019-06-03', '2019-06-04',
               '2019-06-05'],
              dtype='datetime64[ns]', freq='D')

In [17]:
a2=pd.DataFrame({'A':1.,
                 'B':pd.Timestamp('20190601'),
                 'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                 'D':np.array([3]*4,dtype='int32'),
                 'E':pd.Categorical(['test','train','test','train']),
                 'F':'foo'})
print(a2)

     A          B    C  D      E    F
0  1.0 2019-06-01  1.0  3   test  foo
1  1.0 2019-06-01  1.0  3  train  foo
2  1.0 2019-06-01  1.0  3   test  foo
3  1.0 2019-06-01  1.0  3  train  foo

In [ ]:
 #turtle is a python feature like a drawing board
 #lines,squares,star,rect and etc
#turtle()-- it creates and returns a new turtle object

In [ ]:
#step 1:make all the 'turtle' package to be imported 
import turtle as tt
#turtle methods creates and returns the new objects
a1=tt.Turtle()
#forward() method moves 100 pixels 
tt.forward(100)
#we are done 
tt.done()

In [ ]:
#drawing a square
import turtle as tt
a1=tt.Turtle()
a1.forward(150)
a1.right(90)

a1.forward(150)
a1.right(90)

a1.forward(150)
a1.right(90)

a1.forward(150)
a1.right(90)

tt.done()

In [ ]:
#drawing a square
import turtle as tt
a1=tt.Turtle()
a1.backward(150)
a1.left(90)

a1.backward(150)
a1.left(90)

a1.backward(150)
a1.left(90)

a1.backward(150)
a1.left(90)

tt.done()

In [1]:
#drawing a square with looping statements
import turtle as tt
a1=tt.Turtle()

for x in range(4):
    a1.forward(150)
    a1.right(90)
    
tt.done()

In [ ]:
#drawing a square with looping statements
import turtle as tt
a1=tt.Turtle()

for x in range(4):
    a1.backward(150)
    a1.left(90)
    
tt.done()

In [ ]:
#drawing a star
import turtle as tt
a1=tt.Turtle()

for x in range(40):
    a1.forward(50)
    a1.right(144)
    
tt.done()

In [ ]:
#spiraling star
import turtle as tt
a1=tt.Turtle()

for i in range(100):
    a1.forward(i*10)
    a1.right(144)
    
tt.done()

In [ ]:
#change of pen colour
import turtle as tt
a1=tt.Turtle()
a1.pencolor('green')
for i in range(20):
    a1.forward(i*10)
    a1.right(144)
    
tt.done()

In [ ]:
import turtle as tt
c1=tt.Turtle()
c1.pencolor('green')
for i in range(20):
    c1.forward(50)
    c1.right(123)
c1.pencolor('blue')
for i in range(20):
    c1.forward(50)
    c1.right(123)
tt.done()

In [ ]:
import turtle as tt
colors=['red','blue','orange','green','yellow','pink']

a1=tt.Turtle()

for x in range(360):
    a1.pencolor(colors[x%6])
    a1.width(x/100+1)
    a1.forward(x)
    a1.left(59)
tt.done()